{% extends "base.html" %} {% block content %} {% if not n %}
<h1>Notes</h1>
<ul class="list-group list-group-flush" , id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    <div>
      {{ note.quote }} {{ note.quote_author }} {{ note.quote_category }}
    </div>
    <div>{{ note.date }}</div>
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<br />
<form method="POST">
  <div align="center">
    <button
      type="submit"
      class="btn btn-primary"
      name="new_note"
      value="note_created"
    >
      New Note
    </button>
  </div>
</form>
{% endif %}
<br />
{% if n %}
<h1>New Note</h1>
<form method="POST">
  <p>"{{ q["quote"] }}" - {{ q["author"] }}</p>
  <p>Category: {{ q["category"] }}</p>
  <input type="hidden" name="quote_text" value="{{ q['quote'] }}" />
  <input type="hidden" name="quote_author" value="{{ q['author'] }}" />
  <input type="hidden" name="quote_category" value="{{ q['category'] }}" />
  <textarea
    name="note"
    id="note"
    class="form-control"
    rows="20"
    cols="75"
  ></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endif %} {% endblock %}
