{% extends "base.html" %} {% block custom_css %}
<link rel="stylesheet" href="../static/home.css" />
{% endblock %} {% block content %} {% if not n %}
<h1 class="notes-header">Notes</h1>
<ul class="list-group list-group-flush" , id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    <div>
      "{{ note.quote }}" - {{ note.quote_author }}, Category: {{
      note.quote_category }}
    </div>
    <div>Date: {{ note.date }}</div>
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<br />
<form method="POST">
  <div align="center">
    <button
      type="submit"
      class="btn btn-primary"
      name="new_note"
      value="note_created"
    >
      New Note
    </button>
  </div>
</form>
{% endif %}
<br />
{% if n %}
<h2>New Note</h2>
<form method="POST">
  <p>"{{ qt }}" - {{ qa }}</p>
  <p>Category: {{ qc }}</p>
  <input type="hidden" name="quote_text" value="{{ qt }}" />
  <input type="hidden" name="quote_author" value="{{ qa }}" />
  <input type="hidden" name="quote_category" value="{{ qc }}" />
  <textarea
    name="note"
    id="note"
    class="form-control"
    rows="20"
    cols="75"
  ></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endif %} {% endblock %}
